{
   "semi": true,
   "singleQuote": true,
   "trailingComma": "es5",
   "jsxSingleQuote": true,
   "printWidth": 100,
   "tabWidth": 3,
   "useTabs": false,
   "bracketSpacing": true,
   "arrowParens": "always"
}
